
.crop_item_tag {
    position: absolute;
    height: 32px;
    border-radius: 16px 16px 16px 0;
    border: 2px solid white;
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 20px;
    padding: 0 8px 0 8px;
}

.crop_item_img_tag {
    top: 0px;
    right: 0px;
    width: 86px;
    height: 86px;
    position: absolute;
}